.main-cat{
    padding: 1vh;
}
.breeds{
    height: 200px;
    width: 200px;
}
.accessories{
    height: 200px;
    width: 200px;
}
.health{
    height: 200px;
    width: 200px;
}
.address{
    padding-left: 3em;
}